@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

@import
 url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
  padding:0;
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing:border-box;
}
body{
background:#171d22;
}
/*navigation bar*/
.pic1{
width:50px;
height:50px;
float: right;
position: relative;
top:-5px;
}
.navpic{
display: inline-block;
float:right;
}
.nav-content {
         position: absolute;
         box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
         height: 0px;
         transition: height 500ms;
         overflow: hidden;
         background:white;
         right:5px;
         border-radius:5px;
         top:10px;
         width:100%;
         
      }
      .navpic:hover > .nav-content {
        height: 200px;
        width:200px;
        width:100%;
      }
      .nav-content > a {
         display: block;
         padding: 15px;
         text-decoration: none;
         color: black;
         width:100%;
         }
/*end of navigation bar*/
.me{
width:150px;
height:150px;
border-radius:100%;
border:5px solid silver;
border-right:2px solid green;
border-left:2px solid green;
}
.icreate{
width:30px;
position: relative;
top:-150px;
right:-98px;
height:30px;
background:silver;
border-radius:10px;
}
.mepic{
position: relative;
top:150px;
}
/*typing effect*/
.wrapper {
  height: 10px;
   position: relative;
  top:200px;
}

.typing-demo {
  width: 210px;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 25px;
  color: silver
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.maintext{
color: silver;
font-size:15px;

}
.created,.about{
padding:25px;
color: silver;
}
.created{
position: relative;
top:260px;
}
.download{
width:150px;
height:40px;
border:none;
border-radius:20px;
background:green;
color: white;
outline:none;
}
.about{
position: relative;
top:280px;
color:green;
}
